body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    border: 1px solid black;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto;
}

.board img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1; /* Maintain a constant height/width ratio */
}
